* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "QuicksandLight";
	src: url("font/Quicksand_Light.otf");
}

@font-face {
	font-family: "QuicksandBook";
	src: url("font/Quicksand_Book.otf");
}
@font-face {
	font-family: "QuicksandBold";
	src: url("font/Quicksand_Bold.otf");
}
html {
	padding-bottom: 24px;
	background-color: #316067;
}
header {
	background: url('img/horizontal_header_slice.png') repeat-x;
	height: 446px;
	width: 100%;
}
header h1 {
	width: 756px;
	height: 446px;
	display: block;
	background: url('img/NPI_header.png');
}
header h1 span {
	visibility: none;
}

#main {
	position: absolute;
	top: 446px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #316067;
	font-family: 'QuicksandBook', Verdana, sans-serif;
	padding: 25px 0 55px 55px;
	color: #000000;
	line-height: 24px;
}
#main section {
	background-color: #e9f2f3;
	border-radius: 8px;
	padding: 30px 10px 30px 10px;
	width: 670px;
	text-align: center;
	margin-bottom: 24px;
    text-shadow: 0 0 8px #fff;

}
#main section p {
	font-size: 19px;
	margin-bottom: 37px;
   	text-shadow: 0 0 8px #fff;
}
#main section p.dominant {
	font-family: 'QuicksandBold', Verdana, sans-serif;
   	text-shadow: 0 0 8px #fff;
	font-size: 28px;
	margin-bottom: 25px;
}
#main form {
	display: block;
	text-align: center;
}
#main form select {
	display: block;
	width: 280px;
	height: 36px;
	padding-left: 10px;
	background: #fff;
	border: 1px #3880a5 solid;
	font-size: 17px;
	margin: 0 auto 25px auto;
}

#main form input[type='text'] {
	margin-bottom: 30px;
	width: 280px;
	height: 36px;
	padding-left: 4px;
	font-family: 'Lucida Grande', 'QuicksandBold', Verdana, sans-serif;
	font-size: 18px;
	color: #000;
}
#main form input.unclicked {
	color: #888;
}
#main form input[type='submit'] {
	display: block;
	font-family: 'QuicksandBold', Verdana, sans-serif;
	font-size: 21px;
	color: #fff;
	background: #b79e37;
	height: 36px;
	padding: 0 8px;
	margin: 0 auto 25px auto;
}

#main form input:hover {
	text-decoration: underline;
}
label {
	display: none;
}
label.error { text-align: center; display: block; color: red;}
